WindowsServices/GK.WindowsServices.ProcessDiscoveryForms/Web References/lotusService/UcretsizKesifA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:intf="urn:DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="urn:DefaultNamespace" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:DefaultNamespace">
      <xsd:element name="PASSWORD" type="xsd:string" />
      <xsd:element name="ID" type="xsd:double" />
      <xsd:element name="AD" type="xsd:string" />
      <xsd:element name="SOYAD" type="xsd:string" />
      <xsd:element name="EMAIL" type="xsd:string" />
      <xsd:element name="TEL" type="xsd:string" />
      <xsd:element name="SAAT" type="xsd:string" />
      <xsd:element name="IL" type="xsd:string" />
      <xsd:element name="ILCE" type="xsd:string" />
      <xsd:element name="KONUTTIPI" type="xsd:string" />
      <xsd:element name="OKUNDU" type="xsd:string" />
      <xsd:element name="BASVURUTARIH" type="xsd:string" />
      <xsd:element name="NEREDEGORDUNUZ" type="xsd:string" />
      <xsd:complexType name="RESPONSE">
        <xsd:sequence>
          <xsd:element name="ERRORCODE" type="xsd:short" />
          <xsd:element name="ERRORDESCRIPTION" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="CREATERECORDReturn" type="impl:RESPONSE" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CREATERECORDRequest">
    <wsdl:part name="PASSWORD" element="impl:PASSWORD" />
    <wsdl:part name="ID" element="impl:ID" />
    <wsdl:part name="AD" element="impl:AD" />
    <wsdl:part name="SOYAD" element="impl:SOYAD" />
    <wsdl:part name="EMAIL" element="impl:EMAIL" />
    <wsdl:part name="TEL" element="impl:TEL" />
    <wsdl:part name="SAAT" element="impl:SAAT" />
    <wsdl:part name="IL" element="impl:IL" />
    <wsdl:part name="ILCE" element="impl:ILCE" />
    <wsdl:part name="KONUTTIPI" element="impl:KONUTTIPI" />
    <wsdl:part name="OKUNDU" element="impl:OKUNDU" />
    <wsdl:part name="BASVURUTARIH" element="impl:BASVURUTARIH" />
    <wsdl:part name="NEREDEGORDUNUZ" element="impl:NEREDEGORDUNUZ" />
  </wsdl:message>
  <wsdl:message name="CREATERECORDResponse">
    <wsdl:part name="CREATERECORDReturn" element="impl:CREATERECORDReturn" />
  </wsdl:message>
  <wsdl:portType name="UcretsizKesif">
    <wsdl:operation name="CREATERECORD">
      <wsdl:input name="CREATERECORDRequest" message="impl:CREATERECORDRequest" />
      <wsdl:output name="CREATERECORDResponse" message="impl:CREATERECORDResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DominoSoapBinding" type="impl:UcretsizKesif">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CREATERECORD">
      <wsdlsoap:operation soapAction="CREATERECORD" />
      <wsdl:input name="CREATERECORDRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CREATERECORDResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UcretsizKesifService">
    <wsdl:port name="Domino" binding="impl:DominoSoapBinding">
      <wsdlsoap:address location="http://lotus.kale724.com.tr:80/wslayer.nsf/UcretsizKesifA?OpenWebService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>